*
!private/
!public/
!GestRisk/
!GestRisk/**
!patches/
!patches/**
!migrations/
!migrations/**
!assets/
!assets/**
!gestrisk_load.php
!aplicar_favicon.php
!aplicar_fase1.php
!aplicar_fase2.php
!aplicar_correcao_acentuacao.php
!generate_favicons.php
!sync_layout_patches.php
!sync_figuras_descritivas.php
!import_dataset_gestantes.php
!.gitignore
